.Order {
    border: 1px solid;
    box-sizing: border-box;
    width: 80%;
    background-color: #fff;
    margin: 10px auto;    
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.IngredName {
    font-weight: 700;
    margin-bottom: 0;
}

.IgredItemOrderList{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}


.IngredientItem {
    border: 1px solid #aeaeae;
    margin: 5px;
    padding: 5px;
}
