.Order {
    border: 1px solid;
    box-sizing: border-box;
    width: 80%;
    background-color: #fff;
    margin: 10px auto;    
    padding: 10px;
}

.IngredName {
    font-weight: 700;
}

.IngredientItem {
    border: 1px solid #aeaeae;
    margin: 5px;
    padding: 5px;
}