$tablet-width: 768px;


@mixin hide {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.BackdropDrawerWrappeDrawer {
    position: relative;
}

.DrawerWrapper {
    ul > li {
        text-align: center;
        margin: 14px 0;
        a {
            font-size: 21px;
        }
    }
}

.Drawer {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    max-width: 400px;
    padding: 15px 10px 20px;
    box-sizing: border-box;
    transform: translateX(400px);
    background: url('../../../assets/Patterns//light-pattern.jpg') repeat;
    transition: transform 220ms ease-in;
    z-index: 700;
    img {
        width: 75px;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 20px;
    }
}

.Drawer.Hide {
    @include hide();
}

.Drawer.Open {
    transform: translateX(0)
}


@media(min-width: $tablet-width) {
    .Drawer {
        @include hide();
    }
}