$less-background: #8F5E1E;
$less-hover: #99703F;
$more-background: #D39952;
$more-hover: #DAA972;
$shadow_btn: 2px 1px 0px #000;

.Control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-weight: 700;
    button {
        color: #ffff11;
        display: block;
        outline: none;
        cursor: pointer;
        width: 80px;
        font: inherit;
        padding: 5px;
        margin: 0 5px;
        border: 1px solid #414141;
    }
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.lessButton {
    border-radius: 10px; 
    background-color: $less-background;
    transition: all 170ms ease-in;
    text-shadow: $shadow_btn;
    &:hover, &:active {
        color: #fff;
        background-color: $less-hover;
    }
}

.moreButton {
    border-radius: 10px; 
    background-color: $more-background;
    transition: all 170ms ease-in;
    text-shadow: $shadow_btn;
    &:hover, &:active {
        color: #fff;
        background-color: $more-hover;
    }
}

.Label {
    padding: 12px;
    font-weight: bold;
    width: 80px;
}
