.Burger {
    font-size: 1.2rem;
    max-width: 320px;
    margin: auto;
    padding: 100px 0 25px 0;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: 700;
    animation: added_item 100ms ease-in;
    &::-webkit-scrollbar{
        display: none;
    }
}

@keyframes added_item {
    from { transform: scale(1.2) }
    to { transform: scale(1) }
}


.BurgerTitle {
    text-transform: uppercase;
    color: #161616;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}


@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}


@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}