$tablet-width: 768px;
$line-width: 38px;


@mixin forList {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin hide {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.ToolBar {
    background-color: #ac3939;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 600;
}


.ToolWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    .ToolImgContainer {
        cursor: pointer;
        text-transform: uppercase;
        padding: 15px 8px;
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        transition: all 250ms ease-in;
        &:hover {
            transform: scale(1.2);
        }
    }
}


.NavigationList {
    @include forList();
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ToolBarTitle {
    display: none;
    color: #e0dfdc;
    font-size: 36px;
    padding-bottom: 11px;
    margin: 0;
    letter-spacing: 2px;
    color: white; 
    text-shadow: 0px 2px #000,
                 0px 3px #000,
                 0px 4px #000,
                 0px 5px #000,
                 0px 6px #000;
}


@media(max-width: $tablet-width) {
    .ToolBar {
        .ToolWrapper {
            padding: 5px 25px;
        }
    }

    .MainToolNavigation {
        display: none;
    }

    .NavigationList {
        @include hide();
    }

    .ToolImgContainer {
        display: none;
    }

    .ToolBarTitle {
        display: block;
    }
}