$tablet-width: 768px;


@mixin forList {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin hide {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.ToolBar {
    background-color: #ac3939;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 600;
}


.ToolWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    .ToolImgContainer {
        cursor: pointer;
        text-transform: uppercase;
        padding: 15px 8px;
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        transition: all 250ms ease-in;
        &:hover {
            transform: scale(1.2);
        }
    }
}


.NavigationList {
    @include forList();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

$line-width: 38px;

.BurgerMenuButton {
    display: flex;
    flex-direction: column;
    ._item {
        background:#FCFCFC;
        width: $line-width;
        height: 6px;
        border: 1px solid;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        &:nth-child(2) {
            margin: 4px 0;
        }
    }
}

.BurgerMenuButton:hover {
    cursor: pointer;
}

.BurgerMenuButton:active,
.BurgerMenuButton:focus {
    div {
        background-color: #aeaeae;
    }
}

.BurgerMenuButton {
    display: none;
}

@media(max-width: $tablet-width) {
    .ToolBar {
        .ToolWrapper {
            justify-content: flex-end;
            padding: 10px 25px;
        }
    }

    .BurgerMenuButton {
        display: block;
    }

    .MainToolNavigation {
        display: none;
    }

    .NavigationList {
        @include hide();
    }

    .ToolImgContainer {
        display: none;
    }
}