$backdrop-color: rgba(0, 0, 0, 0.5);
$tablet-width: 768px;

.ModalBackdrop {
    position: absolute;
    box-sizing: border-box;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
}


.DrawerBackdrop {
    position: fixed;
    z-index: 600;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $backdrop-color;
}

.OrderFormBackdrop {
    // Сохраняю блок!
    position: absolute;
    width: 100%;
    z-index: 400;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $backdrop-color;
}


.authFormBackdrop {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: $backdrop-color;
}


@media(min-width: $tablet-width) {
    .DrawerBackdrop {
        display: none;
    }
}