$shadow-text: 1px 1px 1px rgb(154, 136, 136);

.OrderSummary {
    padding: 1px 10px;
    background: url('../../../assets/Patterns/light-pattern.jpg');
    position: relative;
    .OrderText {
        strong {
            font-weight: normal;
        }
    }
    .ListOrder {
        text-shadow: $shadow-text;
    }
    .firstPar {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

.OrderTitle {
    text-align: center;
    text-shadow: $shadow-text;
}