$tablet-width: 768px;

.CheckoutWrapper {
    position: relative;
    display: block;
}


@media (min-width: $tablet-width) {
    .CheckoutWrapper {
        margin: 0 auto;
        display: flex;
    }
}