$tablet-width: 768px;
$order_cancel: rgb(222, 51, 51);

@mixin hide {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.AuthFormWrapper {
    position: relative;
    padding: 24px 0;
    background-color: #ffcc66;
}

.InputsContainer {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

.InputInfo {
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: $order_cancel;
}

.AuthInput {
    border: none;
    box-sizing: border-box;
    background: #fff;
    border: none;
    margin: 20px 0 3px 0;
    font: inherit;
    border: 2px solid #AB3939;
    padding: 10px;
    padding-left: 10px;
    width: 100%;
    transition: all 150ms ease-in;
}


.AuthButtonContainer {
    display: flex;
    justify-content: center;
}


.ErrorUiBox {
    position: absolute;
    padding: 1px;
    z-index: 405;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    border: 2px solid;
    border-radius: 30px;
    .Image {
        max-width: 120px;
        width: 30%;
        display: block;
        margin: 14px auto;
        left: 50%;
    }
    .SubTitle {
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}


$primary: rgb(92, 217, 15);
$primary-light: #00ba0c;
$r-color: #924205;

.Switcher {
    position: relative;
    text-align: center;
    padding: 8px 0;
}

.Switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    outline: none;
}

.Switch input {
    @include hide();
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $r-color;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.Slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .Slider {
    background: $r-color;
}

input:focus + .Slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .Slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}




@media (min-width: $tablet-width) {

    .InputsContainer {

    }

    // .AuthFormWrapper {
    //     background-color: rgb(43, 226, 211);
    // }
    .AuthInput {
        outline: none;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 510px;
    }
    .InputInfo {
        font-weight: 700;
    }
}