$tablet-width: 768px;

$order_ok: rgb(89, 227, 15);
$order_cancel: rgb(222, 51, 51);
$lighting_percent: 9%;

@mixin CheckoutOrder {
    cursor: pointer;
    font: inherit;
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 20px;
}

.MainOrderForm {
    box-sizing: border-box;
    background: url('../../assets/Patterns/light-pattern.jpg');
    width: auto;
    flex-grow: 1;
    padding: 1px;
    padding-top: 30px;
    .Title {
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.823);
    }
    .SubTitle {
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.823);
    }
    
}

.InputContainer {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.ButtonContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    justify-content: center;
}



.FormInput {
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
    border-bottom: 2px solid #AB3939;
    padding: 14px;
    padding-left: 0;
    width: 100%;
    transition: all 150ms ease-in;
    &:focus {
        border-bottom: 4px solid #AB3939;
    }
}

.InputInfo {
    text-align: end;
    font-size: 14px;
    margin: 0;
    color: $order_cancel;
}

.CheckoutOrderOk {
    @include CheckoutOrder();
    color: $order_ok;
    &:hover {
        color: lighten($order_ok, 4%);
    }
}

.CheckoutOrderOk:disabled {
    color: #aeaeae;
}









@media (min-width: $tablet-width) {
    .MainOrderForm {
        padding-top: 10px;
    }

    .InputContainer {
        max-width: 445px;
        margin: 0 auto;
    }
}