$tablet-width: 768px;


.MainOrderForm {
    box-sizing: border-box;
    background: url('../../assets/Patterns/light-pattern.jpg');
    width: auto;
    flex-grow: 1;
    padding: 1px;
    padding-top: 30px;
    .Title {
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.823);
    }
    .SubTitle {
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.823);
    }
    
}

.InputContainer {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.ButtonContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    justify-content: center;
}


@media (min-width: $tablet-width) {
    .MainOrderForm {
        padding-top: 10px;
    }

    .InputContainer {
        max-width: 445px;
        margin: 0 auto;
    }
}