$order-button_ds: rgb(179, 112, 63);


.BuildControls {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #cf8f2e;
    margin: auto;
    padding: 10px 0;
}

.ButtonContainer {
    display: flex;
}